# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/

# Conda environment files
*.conda
*.env

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Environment variables
.env

# VS Code settings
.vscode/